# IDE
.idea/

# Python
dist/
__pycache__/
*.egg-info
.venv/
venv/

*.swp

# Tests
test/fixtures/plugins/QuickOSM
test/fixtures/plugins/sources.list.back
test/fixtures/xml_files/*/.cache_qgis_plugin_manager

test/fixtures/xml_files/file_protocol/sources.list
test/fixtures/xml_files/file_protocol/minimal_plugin/

# Local
# sources.list
.cache_qgis_plugin_manager

.local
.localconfig.mk
/tmp
/temp
